/* 
* @Author: anchen
* @Date:   2015-08-04 15:11:56
* @Last Modified by:   Marte
* @Last Modified time: 2015-09-28 14:33:14
*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input,i {
  padding: 0;
  margin: 0; 
  border:0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

img {
  border: 0;
  vertical-align: middle;
}

ul, ol,li {
  list-style: none outside none;
}
input,textarea, button,input[type="checkbox"]{
  -webkit-appearance:none;
  outline:medium;
  padding:0;
  margin:0;
  border:0;
  resize:none;
}

a, a:hover, a:visited {
  color: #4d4d4d;;
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
button{
  outline:none;
}
body,html {
  font-family:Helvetica,Microsoft YaHei , Verdana,Arial;
  font-size: 14px;
  color:#000;
  background:#ececec;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  
}
.wrapper{
  width:100%;
  height:100%;
  position: relative;
}

/*公用底部栏3个部分*/
.bot_bar_out{
  position:fixed;
  bottom:0;
  left: 0;
  z-index:100;
  height:50px;
  width:100%;
  border-top: 1px solid #ccc;
  font-size: 12px;
  text-align: center;
  background:#fff;

}
.bot_bar>li{
  float:left;
  width:33.33333%;
  height:100%;
}
.bot_bar li a{
  display:block;
  width:100%;
  height:45px;
  position:relative;
}
.bot_bar li:nth-child(1) i{
   background:url(../images/tab-home-icon.png) no-repeat;
   background-size:auto 22px;
}
.bot_bar li:nth-child(1) .active i{
    background:url(../images/tab-home-select-icon.png) no-repeat;
    background-size:auto 22px;
}

.bot_bar li:nth-child(2) i{
   background:url(../images/tab_order_icon.png) no-repeat;
   background-size:auto 22px;
}
.bot_bar li:nth-child(2) .active i{
    background:url(../images/tab_order_select.png) no-repeat;
    background-size:auto 22px;
}
.bot_bar li:nth-child(3) i{
   background:url(../images/tab_mine_icon.png) no-repeat;
   background-size:auto 22px;
}
.bot_bar li:nth-child(3) .active i{
    background:url(../images/tab_mine_select_icon.png) no-repeat;
    background-size:auto 22px;
}
.bot_bar li .active span{
  color:#fc342d;
}
.bot_bar li i{
  display:block;
  width:22px; 
  height:22px;
  position:absolute;
  top:7px;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
}

.bot_bar li a span{
  text-align: center;
  padding-top: 31px;
  color:#999;
  display:block;
}

/*限制文字长度，超出显示省略号*/
.words{ 
  white-space:nowrap;
  text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow: hidden;
}
/*公用头部栏*/
.index_head{
  width: 100%; 
  position:relative;
  z-index: 99;
}

/*地址的管理页面-头部及返回*/
.common_bar{
  width:100%;
  height:45px;
  border-bottom: 1px solid #d8d8d8;
  background:#f7f7f7;
}
.common_bar>p{ 
  font-size: 17px;
  text-align: center;
  line-height: 45px;
  width:60%;
  margin:0 auto;
}

.common_bar .back{
 position:absolute;
 top:0px;
 left:0px;
  display:block;
  width:70px; 
  height:42px;
  background:url(../images/return_icon.png) no-repeat 10px center;
  background-size: 20px auto;
}
.header_bar .back{
 position:absolute;
 top:0px;
 left:0px;
  display:block;
  width:70px; 
  height:42px;
  background:url(../images/return_icon.png) no-repeat 10px center;
  background-size: 20px auto;
}

.header_bar .location .triangle{
  background:url(../images/triangle.png) no-repeat right center;
  background-size: 13px auto;
}
.common_bar .ts{
   position:absolute;
   top:15px;
   right:20px;
   font-size: 12px;
   color:#fc3f2d;
}
