body{font:12px/150% SimHei, Microsoft YaHei,STHeiti,Arial,sans-serif;color:#424240;margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,p{font-size:100%;font-weight:normal;margin:0;padding:0;}
img{max-width: 100%;}
input[type=number],button{display: inline-block;width: 100%;border: 0; outline: 0;font-family:inherit;}
.center-block{margin:0 auto;position: relative;}
.text-center{text-align: center;}
.co-main-text{font-size: 4em;line-height:1em;color:#191919;margin:6.25% 0;font-weight: bold;}
.co-sub-text{font-size: 2.1em;color:#969696;line-height: 1.5em;}
.red{color:#f44242!important;}
.dark-grey{color:#202020!important;}
.co-button{display:inline-block;background: #f44242;color:#fff;font-size: 2.3em}
/*扫码支付页面*/
#codepay-box{padding-top:23.4%;height:auto}
#co-paper-box{margin-top:6.25%;}
#co-paper-box{width:91.875%; }
#co-paper-cnt{position: absolute;top: 0;width: 76.92%;max-width:400px;margin-top: 18%;bottom: 0;left: 0;right: 0;}
#co-price-box{margin-bottom: 9%;text-align: center;font-size:3.5em;border:1px solid #e5e5e5;padding-left:20%;padding-right: 20%;width: 60%; }
.co-price-de{position: absolute;top:1px;z-index: 3;display: block;padding: 0 10px;}
input[type=number],button,.co-price-de{line-height: 4rem!important;border-radius: 4px;height: 4rem!important;}
#co-price-left{left:1px;}
#co-price-right{right:1px;}
/*扫码支付成功页面*/
.co-icon-box{padding-top:20.93%;}
.pay-icon{width: 26.25%;}
#co-qrcode{width: 31.875%;margin-bottom: 9.4%}
.co-middle-line{height: 1px;width: 78.43%;border-bottom: 1px solid #e6e6e6;margin: 12% auto;}
#codepay-fail .co-pay-button{width: 59.375%;}

@media (max-width: 500px){
	body{font-size:10px;}
	/* input[type=number], button, .co-price-de {line-height: 4rem!important;height: 4rem!important;} */
}
@media (max-height: 600px){
	#codepay-success .co-main-text{margin:20px 0;}
	.co-middle-line{margin-top:20px;margin-bottom: 20px}
}
@media (max-width: 420px){
	body{font-size:7px;}
}
.wapDialog_tip_content{font-size:2.7em}
