<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.settlement.mapper.PosSettlementDaylyMapper">

    <select id="statisticsOrderByDay" resultType="com.dianba.pos.settlement.po.PosSettlementDayly">
        select t.trans_type paymentType,count(t.id) count,sum(t.total_price) amount
        from life_order.order_entry t
        where t.type=4 and t.status=8
        and t.partner_user_id=#{passportId}
        and t.trans_type in('ALIPAY','WEIXIN_NATIVE','CASH')
        <if test="dateTime!=null">
            and t.payment_time>=date_format(#{dateTime},'%Y-%m-%d %H:%i:%s')
        </if>
        group by t.trans_type
    </select>

    <select id="findLastSettlementTime" resultType="java.lang.String">
        select concat(t.create_time,'') from life_pos.pos_settlement_dayly t
        where t.is_paid=1 and t.passport_id=#{passportId}
        order by t.id desc
        limit 1
    </select>
</mapper>