<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.menu.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.dianba.pos.menu.po.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="type_id" jdbcType="BIGINT" property="typeId"/>
        <result column="merchant_id" jdbcType="BIGINT" property="merchantId"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="buy_count" jdbcType="BIGINT" property="buyCount"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="print_type" jdbcType="BIGINT" property="printType"/>
        <result column="display" jdbcType="CHAR" property="display"/>
        <result column="repertory" jdbcType="INTEGER" property="repertory"/>
        <result column="today_repertory" jdbcType="INTEGER" property="todayRepertory"/>
        <result column="begin_time" jdbcType="INTEGER" property="beginTime"/>
        <result column="end_time" jdbcType="INTEGER" property="endTime"/>
        <result column="limit_today" jdbcType="INTEGER" property="limitToday"/>
        <result column="is_delete" jdbcType="CHAR" property="isDelete"/>
        <result column="menu_sort" jdbcType="INTEGER" property="menuSort"/>
        <result column="price_online" jdbcType="DOUBLE" property="priceOnline"/>
        <result column="isonline" jdbcType="TINYINT" property="isonline"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="barcode" jdbcType="VARCHAR" property="barcode"/>
        <result column="sync_time" jdbcType="INTEGER" property="syncTime"/>
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="is_sync" jdbcType="TINYINT" property="isSync"/>
        <result column="is_flash" jdbcType="TINYINT" property="isFlash"/>
        <result column="flash_price" jdbcType="DOUBLE" property="flashPrice"/>
        <result column="agree_count" jdbcType="INTEGER" property="agreeCount"/>
        <result column="original_price" jdbcType="DOUBLE" property="originalPrice"/>
        <result column="warn_inventory" jdbcType="INTEGER" property="warnInventory"/>
        <result column="standard_inventory" jdbcType="INTEGER" property="standardInventory"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
        <result column="production_date" jdbcType="INTEGER" property="productionDate"/>
        <result column="shelf_life" jdbcType="INTEGER" property="shelfLife"/>
    </resultMap>

    <select id="getMenuListByPhoneAndType" resultType="com.dianba.pos.menu.vo.MenuDto">

        SELECT me.id menuId,
        me.name menuName,
        me.price price,
        me.original_price stockPrice,
        me.is_flash type
        FROM menu me
        INNER JOIN phone_info pi
        on pi.code=me.code_id and
        pi.print_type=me.print_type
        where me.merchant_id=#{merchantId}
        and pi.id=#{phone}
        and me.is_flash=#{type}
        and me.display='Y' and me.is_delete='N';


    </select>
</mapper>