<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.menu.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dianba.pos.menu.po.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="pay_type" jdbcType="CHAR" property="payType" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="courier_id" jdbcType="BIGINT" property="courierId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="rstate" jdbcType="CHAR" property="rstate" />
    <result column="retime" jdbcType="INTEGER" property="retime" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="online_money" jdbcType="DOUBLE" property="onlineMoney" />
    <result column="origin" jdbcType="DOUBLE" property="origin" />
    <result column="credit" jdbcType="DOUBLE" property="credit" />
    <result column="card" jdbcType="DOUBLE" property="card" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="comment_display" jdbcType="CHAR" property="commentDisplay" />
    <result column="comment_taste" jdbcType="REAL" property="commentTaste" />
    <result column="comment_speed" jdbcType="REAL" property="commentSpeed" />
    <result column="comment_service" jdbcType="REAL" property="commentService" />
    <result column="comment_courier" jdbcType="REAL" property="commentCourier" />
    <result column="comment_time" jdbcType="INTEGER" property="commentTime" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="score_money" jdbcType="DOUBLE" property="scoreMoney" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="order_type" jdbcType="CHAR" property="orderType" />
    <result column="access_time" jdbcType="INTEGER" property="accessTime" />
    <result column="delivery_time" jdbcType="INTEGER" property="deliveryTime" />
    <result column="complete_time" jdbcType="INTEGER" property="completeTime" />
    <result column="urgent_time" jdbcType="INTEGER" property="urgentTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ifCourier" jdbcType="VARCHAR" property="ifcourier" />
    <result column="delivery_done_time" jdbcType="INTEGER" property="deliveryDoneTime" />
    <result column="pay_state" jdbcType="CHAR" property="payState" />
    <result column="sale_type" jdbcType="INTEGER" property="saleType" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="out_trace_id" jdbcType="VARCHAR" property="outTraceId" />
    <result column="time_remark" jdbcType="VARCHAR" property="timeRemark" />
    <result column="cook_done_time" jdbcType="INTEGER" property="cookDoneTime" />
    <result column="cook_done_code" jdbcType="CHAR" property="cookDoneCode" />
    <result column="start_time" jdbcType="INTEGER" property="startTime" />
    <result column="comment_courier_content" jdbcType="VARCHAR" property="commentCourierContent" />
    <result column="start_send_time" jdbcType="INTEGER" property="startSendTime" />
    <result column="end_send_time" jdbcType="INTEGER" property="endSendTime" />
    <result column="user_address_id" jdbcType="INTEGER" property="userAddressId" />
    <result column="invoice" jdbcType="VARCHAR" property="invoice" />
    <result column="from_type" jdbcType="CHAR" property="fromType" />
    <result column="delivery_fee" jdbcType="DOUBLE" property="deliveryFee" />
    <result column="cost_lunch_box" jdbcType="DOUBLE" property="costLunchBox" />
    <result column="member_discount_money" jdbcType="DOUBLE" property="memberDiscountMoney" />
    <result column="merchant_member_discount_money" jdbcType="DOUBLE" property="merchantMemberDiscountMoney" />
    <result column="dine_in_discount_money" jdbcType="DOUBLE" property="dineInDiscountMoney" />
    <result column="recharge_src" jdbcType="INTEGER" property="rechargeSrc" />
    <result column="invite_id" jdbcType="BIGINT" property="inviteId" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="is_merchant_delivery" jdbcType="CHAR" property="isMerchantDelivery" />
    <result column="lwk_id" jdbcType="VARCHAR" property="lwkId" />
    <result column="lwk_mark" jdbcType="VARCHAR" property="lwkMark" />
    <result column="lwk_flag" jdbcType="VARCHAR" property="lwkFlag" />
    <result column="flash_order_id" jdbcType="BIGINT" property="flashOrderId" />
  </resultMap>

  <!-- 定义返回参数-->

  <!-- 封装Order查询信息-->
  <select id="queryOrderList" resultType="java.util.HashMap">
SELECT
  sum(om.price-os.stock_price) sum_money,
  us.id user_id,
  us.mobile user_mobile,
  ca.name name,
  ca.id_card card,
  ca.create_time create_time
FROM  `order` o
  INNER JOIN merchant m  ON o.merchant_id=m.id
  JOIN user us ON us.id=m.user_id
  JOIN `0085_cashier` ca on ca.merchant_id=m.id
  INNER JOIN order_menu om on om.order_id =o.id
  INNER JOIN  menu me on me.id=om.menu_id
  INNER JOIN `0085_stock` AS os ON os.menu_id=me.id
 WHERE m.id=#{id} AND  ca.create_time BETWEEN   #{create_time} AND #{now_time}
  </select>
  <select id="getPosStrtTimeByMerchant" resultType="java.lang.Long">

    SELECT cas.create_time
    FROM 0085_cashier cas
    JOIN merchant me on cas.merchant_id=me.id
    WHERE me.id=#{id}

  </select>
</mapper>