<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.extended.mapper.Charge19eMapper">

    <select id="chargeCountByOrder" resultType="java.lang.Integer">
        SELECT count(1) from charge_19e WHERE orderId=#{orderId};
    </select>
</mapper>