<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.order.mapper.LifeOrderMapper">
    <!--2.0分界线-->
    <resultMap id="BaseResultMap" type="com.dianba.pos.order.po.LifeOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sequence_number" jdbcType="VARCHAR" property="sequenceNumber"/>
        <result column="partner_id" jdbcType="VARCHAR" property="partnerId"/>
        <result column="partner_user_id" jdbcType="VARCHAR" property="partnerUserId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="deliver_status" jdbcType="INTEGER" property="deliverStatus"/>
        <result column="refund_status" jdbcType="INTEGER" property="refundStatus"/>
        <result column="payment_type" jdbcType="TINYINT" property="paymentType"/>
        <result column="trans_type" jdbcType="VARCHAR" property="transType"/>
        <!--<result column="user_source" jdbcType="INTEGER" property="userSource"/>-->
        <!--<result column="day_sort_number" jdbcType="INTEGER" property="daySortNumber"/>-->
        <!--<result column="push_type" jdbcType="INTEGER" property="pushType"/>-->
        <result column="shipping_passport_id" jdbcType="BIGINT" property="shippingPassportId"/>
        <result column="shipping_nick_name" jdbcType="VARCHAR" property="shippingNickName"/>
        <result column="shipping_province" jdbcType="VARCHAR" property="shippingProvince"/>
        <result column="shipping_city" jdbcType="VARCHAR" property="shippingCity"/>
        <result column="shipping_district" jdbcType="VARCHAR" property="shippingDistrict"/>
        <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress"/>
        <result column="shipping_location" jdbcType="VARCHAR" property="shippingLocation"/>
        <result column="shipping_phone" jdbcType="VARCHAR" property="shippingPhone"/>
        <result column="receipt_user_id" jdbcType="VARCHAR" property="receiptUserId"/>
        <result column="receipt_nick_name" jdbcType="VARCHAR" property="receiptNickName"/>
        <result column="receipt_province" jdbcType="VARCHAR" property="receiptProvince"/>
        <result column="receipt_city" jdbcType="VARCHAR" property="receiptCity"/>
        <result column="receipt_district" jdbcType="VARCHAR" property="receiptDistrict"/>
        <result column="receipt_address" jdbcType="VARCHAR" property="receiptAddress"/>
        <result column="receipt_phone" jdbcType="VARCHAR" property="receiptPhone"/>
        <result column="receipt_location" jdbcType="VARCHAR" property="receiptLocation"/>
        <result column="courier_passport_id" jdbcType="BIGINT" property="courierPassportId"/>
        <result column="courier_nick_name" jdbcType="VARCHAR" property="courierNickName"/>
        <result column="courier_phone" jdbcType="VARCHAR" property="courierPhone"/>
        <result column="total_distance" jdbcType="BIGINT" property="totalDistance"/>
        <result column="current_location" jdbcType="VARCHAR" property="currentLocation"/>
        <result column="collecting_fees" jdbcType="TINYINT" property="collectingFees"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="actual_price" jdbcType="BIGINT" property="actualPrice"/>
        <result column="total_price" jdbcType="BIGINT" property="totalPrice"/>
        <result column="discount_price" jdbcType="BIGINT" property="discountPrice"/>
        <result column="distribution_fee" jdbcType="BIGINT" property="distributionFee"/>
        <result column="price_logger" jdbcType="VARCHAR" property="priceLogger"/>
        <result column="cancel_logger" jdbcType="VARCHAR" property="cancelLogger"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime"/>
        <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime"/>
        <collection property="itemSnapshots" ofType="com.dianba.pos.order.po.LifeOrderItemSnapshot">
            <id column="item_snapshot_id" jdbcType="BIGINT" property="id"/>
            <result column="order_id" jdbcType="BIGINT" property="orderId"/>
            <result column="user_mark" jdbcType="VARCHAR" property="userMark"/>
            <result column="item_id" jdbcType="BIGINT" property="itemId"/>
            <result column="item_template_id" jdbcType="BIGINT" property="itemTemplateId"/>
            <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
            <result column="item_type_id" jdbcType="BIGINT" property="itemTypeId"/>
            <result column="item_type_name" jdbcType="VARCHAR" property="itemTypeName"/>
            <result column="item_unit_id" jdbcType="BIGINT" property="itemUnitId"/>
            <result column="item_unit_name" jdbcType="VARCHAR" property="itemUnitName"/>
            <result column="item_barcode" jdbcType="VARCHAR" property="itemBarcode"/>
            <result column="item_code" jdbcType="VARCHAR" property="itemCode"/>
            <result column="item_batches" jdbcType="INTEGER" property="itemBatches"/>
            <result column="introduction_page" jdbcType="VARCHAR" property="introductionPage"/>
            <result column="item_create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="normal_quantity" jdbcType="INTEGER" property="normalQuantity"/>
            <!--<result column="discount_quantity" jdbcType="INTEGER" property="discountQuantity"/>-->
            <!--<result column="shipment_quantity" jdbcType="INTEGER" property="shipmentQuantity"/>-->
            <!--<result column="distribution_quantity" jdbcType="INTEGER" property="distributionQuantity"/>-->
            <!--<result column="receipt_quantity" jdbcType="INTEGER" property="receiptQuantity"/>-->
            <!--<result column="return_quantity" jdbcType="INTEGER" property="returnQuantity"/>-->
            <result column="normal_price" jdbcType="BIGINT" property="normalPrice"/>
            <!--<result column="discount_price" jdbcType="BIGINT" property="discountPrice"/>-->
            <result column="cost_price" jdbcType="BIGINT" property="costPrice"/>
            <result column="market_price" jdbcType="BIGINT" property="marketPrice"/>
            <result column="item_total_price" jdbcType="BIGINT" property="totalPrice"/>
            <result column="return_price" jdbcType="BIGINT" property="returnPrice"/>
        </collection>
    </resultMap>

    <sql id="LifeOrderColumns">
        o.id,
        o.sequence_number,
        o.order_sequence_number,
        o.partner_id,
        o.partner_user_id,
        o.type,
        o.status,
        o.deliver_status,
        o.refund_status,
        o.payment_type,
        o.trans_type,
        o.user_source,
        o.day_sort_number,
        o.push_type,
        o.shipping_passport_id,
        o.shipping_nick_name,
        o.shipping_province,
        o.shipping_city,
        o.shipping_district,
        o.shipping_address,
        o.shipping_location,
        o.shipping_phone,
        o.receipt_user_id,
        o.receipt_nick_name,
        o.receipt_province,
        o.receipt_city,
        o.receipt_district,
        o.receipt_address,
        o.receipt_phone,
        o.receipt_location,
        o.courier_passport_id,
        o.courier_nick_name,
        o.courier_phone,
        o.total_distance,
        o.current_location,
        o.collecting_fees,
        o.remark,
        o.actual_price,
        o.total_price,
        o.discount_price,
        o.distribution_fee,
        o.price_logger,
        o.cancel_logger,
        o.create_time,
        o.payment_time,
        o.confirm_time,
        o.body,
        o.detail
    </sql>

    <sql id="LifeOrderItemsColumns">
        s.id item_snapshot_id,
        s.order_id,
        s.user_mark,
        s.item_id,
        s.item_template_id,
        s.item_name,
        s.item_type_id,
        s.item_type_name,
        s.item_unit_id,
        s.item_unit_name,
        s.item_barcode,
        s.item_code,
        s.item_batches,
        s.introduction_page,
        s.create_time item_create_time,
        s.normal_quantity,
        s.discount_quantity,
        s.shipment_quantity,
        s.distribution_quantity,
        s.receipt_quantity,
        s.return_quantity,
        s.normal_price,
        s.discount_price,
        s.cost_price,
        s.market_price,
        s.total_price item_total_price,
        s.return_price
    </sql>

    <sql id="ColumnsForBaseResultMap">
        <include refid="LifeOrderColumns"/>
        ,
        <include refid="LifeOrderItemsColumns"/>
    </sql>

    <select id="findOrderById" resultMap="BaseResultMap">
        SELECT
        <include refid="ColumnsForBaseResultMap"/>
        FROM life_order.order_entry o
        left join life_order.order_item_snapshot s on s.order_id=o.id
        where o.id=#{orderId}
    </select>

    <select id="findOrderForPos" resultMap="BaseResultMap">
        SELECT
        <include refid="LifeOrderColumns"/>
        FROM life_order.order_entry o
        -- inner join life_order.order_item_snapshot s on s.order_id=o.id
        where o.partner_user_id=#{passportId} and o.type=#{orderType}
        <if test="orderStatus==8">
            and o.status>=8
        </if>
        <if test="orderStatus!=8">
            and o.status=#{orderStatus}
        </if>
        order by o.id desc
    </select>

    <select id="findOrderByPartnerUserAndPaymentTime" resultMap="BaseResultMap">
        SELECT
        <include refid="ColumnsForBaseResultMap"/>
        FROM life_order.order_entry o
        inner join life_order.order_item_snapshot s on s.order_id=o.id
        where o.partner_user_id=#{passportId} and o.type=4 and o.status=8
        and o.payment_type=-1 and o.trans_type='CASH'
        and o.payment_time &lt; date_format(#{date},'%Y-%m-%d %H:%i:%s')
        order by o.id desc
    </select>

    <select id="findNotSyncScanOrder" resultMap="BaseResultMap">
        select
        <include refid="LifeOrderColumns"/>
         from life_order.order_entry o
        where o.trans_type in('ALIPAY_JS','WEIXIN_JS')
        and o.type=4 and o.status=8 and o.shipping_passport_id=#{passportId}
        and o.total_price in
        <foreach collection="orderAmounts" item="amount" open="(" close=")" separator=",">
            #{amount}
        </foreach>
        and o.payment_time between date_format(#{beginTime},'%Y-%m-%d %H:%i:%s')
            and date_format(#{endTime},'%Y-%m-%d %H:%i:%s')
        and not exists(select 1 from life_order.order_item_snapshot s where s.order_id=o.id)
        order by o.id desc
    </select>

    <!--商家pos 机每月营业额o e.type 3-采购 7-pos营业订单 -->
    <select id="findPosProfitMoney" resultType="java.util.HashMap">
        SELECT sum(ois.total_price-ois.cost_price) sumMoney
           FROM life_order.order_entry oe
           inner JOIN life_passport.passport pt on pt.id=oe.partner_user_id
           INNER JOIN life_order.order_item_snapshot ois on ois.order_id=oe.id
           WHERE pt.id=#{id} AND oe.type=4 AND oe.status > 8
           AND oe.payment_time BETWEEN #{startTime}  AND #{endTime}
    </select>

    <!--商家pos 机每月营业额o e.type 3-采购 7-pos营业订单 -->
    <select id="findMerchantStockMoney" resultType="java.util.HashMap">
        SELECT sum(ois.total_price-ois.cost_price) sumMoney
        ,count(1) count
        FROM life_order.order_entry oe
        inner JOIN life_passport.passport pt on pt.id=oe.partner_user_id
        INNER JOIN life_order.order_item_snapshot ois on ois.order_id=oe.id
        WHERE pt.id=#{id} AND oe.type=3 AND oe.status in(8,256)
        AND oe.payment_time BETWEEN #{startTime}  AND #{endTime}
    </select>

    <!--商家商品每日销售报表-->
    <select id="findMerchantDayReport" resultType="com.dianba.pos.order.vo.MerchantDayReportVo">
        SELECT pi.id piId
        ,pi.item_name itemName
        ,ois.item_template_id itemTemplateId
        ,it.id itId,it.title itTitle
        ,sum(ois.normal_quantity) sumCount
        ,sum(ois.cost_price*ois.normal_quantity) sumCostMoney
        ,sum(ois.total_price) sumTotalMoney
        FROM life_order.order_entry oe
        INNER JOIN life_order.order_item_snapshot ois on ois.order_id=oe.id
        INNER JOIN life_pos.pos_item pi on pi.id=ois.item_id
        INNER JOIN life_item.item_type it on it.id=pi.item_type_id
        WHERE oe.shipping_passport_id=#{merchantId} AND oe.type in(4,9) AND oe.status =8 and to_days(oe.create_time)= to_days(#{createTime})
        <if test="itId !=null">AND it.id=#{itId}</if>
        <if test="itemName !=null and itemName!=''">AND pi.item_name like CONCAT('%', #{itemName}, '%')</if>
        GROUP BY ois.item_id ORDER BY sumCount desc
    </select>
    <!--商家收银员每日盈利信息-->
    <select id="findMerchantCashierDayProfitInfo" resultType="com.dianba.pos.order.vo.MerchantCashierDayProfitInfo">
        SELECT psd.passport_id cashierId,pass.real_name realName,sum(psd.amount*100) sumTotalPrice
        ,pca.cashier_photo cashierPhoto,#{createTime} time FROM life_pos.pos_settlement_dayly psd
        LEFT JOIN life_pos.pos_cashier_account pca on pca.cashier_id=psd.passport_id
        JOIN life_passport.passport pass on pass.id=psd.passport_id
        WHERE psd.merchant_passport_id=#{merchantId} and to_days(psd.create_time)=to_days(#{createTime})AND psd.is_paid=1
        GROUP BY psd.passport_id ORDER BY psd.create_time DESC
    </select>
    <!--pos端交易记录-->
    <select id="findOrderTransactionRecord" resultType="com.dianba.pos.order.vo.OrderTransactionRecordVo">
        SELECT * FROM (
        select a.*,a.sum-a.sum*a.rate cashPrice,a.sum*a.rate ratePrice,a.total_price totalPrice from (
        select t.id,date_format(t.payment_time,'%Y-%m-%d %H:%i:%s') paymentTime,sequence_number sequenceNumber
        ,t.total_price,t.trans_type transType,ps.real_name realName
        ,t.actual_price actualPrice
        ,case t.trans_type
        when 'CASH' then 0
        else if(b.is_need=1,b.commission_rate,0) end rate
        ,CASE t.type WHEN 9 then t.total_price-t.actual_price
        else t.total_price END sum
        ,t.payment_type paymentType
        from life_order.order_entry t
        inner join life_passport.passport ps on ps.id=t.partner_user_id
        inner join (
        select t.is_need,t.commission_rate from life_pos.pos_merchant_rate t where t.passport_id=#{passportId}
        union
        select 1,0.0038
        limit 1
        ) b on 1=1
        where t.shipping_passport_id=#{passportId}
        and t.type in(4,9) and t.status =8
        <if test="enterType==1">
            and date_format(t.payment_time,'%Y-%m-%d')=date_format(#{createTime},'%Y-%m-%d')
        </if>
        <if test="enterType==2">
            and date_format(t.payment_time,'%Y-%m')=date_format(#{createTime},'%Y-%m')
        </if>
      ) a order by a.paymentTime desc)c
    </select>
    <select id="findOrderTransactionRecordSum" resultType="com.dianba.pos.order.vo.OrderTransactionRecordVo">
        SELECT c.*,sum(c.sum-c.sum*c.rate) totalPrice,sum(c.sum*c.rate) ratePrice,sum(c.sum) cashPrice,count(1) countMap FROM (
        SELECT oe.actual_price actualPrice,oe.trans_type transType,CASE oe.type WHEN 9 then oe.total_price-oe.actual_price else oe.total_price END sum
        ,case oe.trans_type
        when 'CASH' then 0
        else if(b.is_need=1,b.commission_rate,0) end rate
        FROM life_order.order_entry oe
        inner join (
        select t.is_need,t.commission_rate from life_pos.pos_merchant_rate t where t.passport_id=#{passportId}
        union
        select 1,0.0038
        limit 1
        ) b on 1=1
        WHERE oe.shipping_passport_id=#{passportId}  and oe.type in(4,9) and oe.status =8
        <if test="enterType==1">
            and date_format(oe.payment_time,'%Y-%m-%d')=date_format(#{createTime},'%Y-%m-%d')
        </if>
        <if test="enterType==2">
            and date_format(oe.payment_time,'%Y-%m')=date_format(#{createTime},'%Y-%m')
        </if>
        ) c GROUP BY c.transType
    </select>
</mapper>