<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.order.mapper.OrderMapper">
    <!-- 查询使用商米pos每个月的盈利金额-->
    <select id="queryOrderList" resultType="java.util.HashMap">
      SELECT
        sum(om.price-os.stock_price) sum_money,
        ca.create_time create_time
      FROM  `order` o
        INNER JOIN merchant m  ON o.merchant_id=m.id
        JOIN user us ON us.id=m.user_id
        JOIN `0085_cashier` ca on ca.merchant_id=m.id
        INNER JOIN order_menu om on om.order_id =o.id
        INNER JOIN  menu me on me.id=om.menu_id
        INNER JOIN `0085_stock` AS os ON os.menu_id=me.id
       WHERE m.id=#{id} AND o.state='confirm' AND  ca.create_time BETWEEN   #{create_time} AND #{nowTime}
    </select>

    <!--获取商家使用pos机的时间-->
    <select id="getPosStrtTimeByMerchant" resultType="java.lang.Long">
        SELECT cas.create_time
        FROM 0085_cashier cas
        JOIN merchant me on cas.merchant_id=me.id
        WHERE me.id=#{id} ORDER BY cas.create_time limit 1;
    </select>

    <!--&lt;!&ndash;查詢商家每天的盈利數據&ndash;&gt;-->
    <!--<select id="selectPosProfitByDay" resultType="com.dianba.pos.order.vo.posProfitDto">-->
    <!--SELECT o.id,-->
    <!--sum( om.price) sale_price，-->
    <!--sum(os.stock_price) stock_price,-->
    <!--om.price-os.stock_price order_profit,-->
    <!--us.id user_id user_id,-->
    <!--us.mobile user_mobile,-->
    <!--ca.name user_name,-->
    <!--FROM_UNIXTIME( o.complete_time,'%Y-%m-%d') ,-->
    <!--ca.id_card id_card,-->
    <!--us.first_order_time firest_time,-->
    <!--ca.create_time-->
    <!--FROM  `order` o-->
    <!--INNER JOIN merchant m  ON o.merchant_id=m.id-->
    <!--JOIN user us ON us.id=m.user_id-->
    <!--JOIN `0085_cashier` ca on ca.merchant_id=m.id-->
    <!--INNER JOIN order_menu om on om.order_id =o.id-->
    <!--INNER JOIN  menu me on me.id=om.menu_id-->
    <!--INNER JOIN `0085_stock` AS os ON os.menu_id=me.id-->
    <!--WHERE m.id=#merchant_id# AND o.state ='confirm'  GROUP BY  FROM_UNIXTIME( o.complete_time,'%Y-%m-%d')-->
    <!--</select>-->

    <!--查询是否是pos机商家用户-->
    <select id="verifyMerchantUser" resultType="java.util.HashMap">
        SELECT count(1) num
        ,ca.merchant_id merchant_id
        ,us.id user_id
        FROM `0085_cashier` ca
        JOIN merchant me on ca.merchant_id=me.id
        JOIN user us on us.id=me.user_id
        where ca.name=#{user_name} AND me.id=#{merchantId} AND ca.mobile=#{phone}
    </select>


    <!--获取商家注册时间-->
    <select id="getMerchantCreate" resultType="java.lang.Long">
        SELECT me.create_time FROM merchant me WHERE id=#{id}
    </select>

    <select id="getRemarkCount" parameterType="java.util.List" resultType="java.lang.Integer">
        select count(1) from `order` where remark in
        <foreach collection="remarks" item="remark" open="(" close=")" separator=",">
            #{remark}
        </foreach>
    </select>
    <!--获取增值服务平台订单支付成功,未请求第三方服务type：3话费充值4流量充值-->
    <select id="getOrderListBy19EMenu" resultType="com.dianba.pos.order.vo.Order19EDto">
          SELECT
             o.id orderId,
             o.pay_id orderNum,
             m.price price,
             o.mobile mobile,
             o.pay_state payState,
             m.is_flash type,
             m.menu_key menuKey
          FROM `order` o
          JOIN order_menu om on om.order_id=o.id
          JOIN  menu m on m.id=om.menu_id
          WHERE m.merchant_id=#{merchantId}
          AND o.pay_state=#{payState} and o.charge_state!=#{chargeState}
          and m.is_flash=#{type};
    </select>
    <!--根据商家订单号更新原订单信息-->
    <update id="editOrderInfoBy19e" parameterType="java.util.Map">
        UPDATE `order` o
        SET o.complete_time=#{completeTime}
        ,o.charge_state=#{chargeState}
        WHERE o.id =(SELECT orderId FROM charge_19e WHERE merchantOrderId=#{orderNum};
    </update>
    <!--查询此订单号是否被更新过了-->
    <select id="getByPayId" resultType="java.lang.Object">
        SELECT charge_state FROM 'order' WHERE o.id =(SELECT orderId FROM charge_19e WHERE merchantOrderId=#{orderNum};
    </select>

</mapper>