<?xml version="1.0" encoding="UTF-8"?>
<!--monitorInterval：修改检测间隔秒数。-->
<configuration monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!-- 大小超过size，按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="logs/pos-server.log"
                     filePattern="logs/$${date:yyyy-MM}/pos-server-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="200MB"/>
            <!--默认7，设置同目录最多50个文件-->
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="net.sf.ehcache" level="INFO"/>
        <logger name="com.alibaba.druid" level="INFO"/>
        <logger name="springfox.documentation" level="INFO"/>
        <logger name="org.thymeleaf" level="INFO"/>
        <logger name="net.sf.json.JSONObject" level="ERROR"/>

        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>