<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
	default-lazy-init="false">
	
	<!-- 调度工厂 -->
	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceName">WMscheduler</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
				<!-- 线程池配置 -->
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">20</prop>
				<prop key="org.quartz.threadPool.threadPriority">5</prop>
				<!-- JobStore 配置 -->
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>

				<!-- 集群配置 -->
				<prop key="org.quartz.jobStore.isClustered">true</prop>
				<prop key="org.quartz.jobStore.clusterCheckinInterval">15000</prop>
				<prop key="org.quartz.jobStore.maxMisfiresToHandleAtATime">1</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">120000</prop>
				<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
			</props>
		</property>

		<property name="schedulerName" value="WMscheduler" />

		<!--必须的，QuartzScheduler 延时启动，应用启动完后 QuartzScheduler 再启动 -->
		<property name="startupDelay" value="30" />
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />

		<!--可选，QuartzScheduler 启动时更新己存在的Job，这样就不用每次修改targetObject后删除qrtz_job_details表对应记录了 -->
		<property name="overwriteExistingJobs" value="true" />

		<!-- 设置自动启动 -->
		<property name="autoStartup" value="true" />
		
		<property name="jobFactory">
			<bean class="com.util.quratz.AutoWiringSpringBeanJobFactory" />
		</property>
		

		<!-- 注册jobDetail -->
		<property name="jobDetails">
			<list>
				<ref bean="resetOrderNumJob" />
				<ref bean="clearOperLogJob" />
				<ref bean="settlementJob" />
				<ref bean="completeOrderJob" />
				<ref bean="initRepertoryJob" />
				<ref bean="refreshAccessTokenJob" />
				<ref bean="genCourierDeductLogJob" />
				<ref bean="statisticsMerchantDaylyJob" />
				<ref bean="merchantSettlementDalyJob" />
				<ref bean="monitorPushedOrderJob" />
				<!-- <ref bean="genCourierLeaderDeductJob" /> -->
				<ref bean="monitorRefundOrderJob" />
				<ref bean="statisticsRebateByEverydayJob" />
				<ref bean="merchantGrantByMonthJob" />
				<ref bean="statCourierAttendanceJob"/>
				<ref bean="suspendCourierAccountJob"/>
				<ref bean="cleanCourierIdRedisCacheJob"/>
				<ref bean="merchantSourceJob"/>
				<ref bean="monitorAgentIncomeJob"/>
				<ref bean="statisticsAgentDaylyIncomeJob"/>
			</list>
		</property>
		<!-- 注册触发器 -->
		<property name="triggers">
			<list>
				<ref bean="resetOrderNumTrigger" />
				<ref bean="clearOperLogTrigger" />
				<ref bean="settlementTrigger" />
				<ref bean="completeOrderTrigger" />
				<ref bean="initRepertoryTrigger" />
				<ref bean="refreshAccessTokenTrigger" />
				<ref bean="genCourierDeductLogTrigger" />
				<ref bean="statisticsMerchantDaylyTrigger" />
				<ref bean="merchantSettlementDalyTrigger" />
				<ref bean="monitorPushedOrderTrigger" />
				<!-- <ref bean="genCourierLeaderDeductTrigger" /> -->
				<ref bean="monitorRefundOrderTrigger" />
				<ref bean="statisticsRebateByEverydayTrigger" />
				<ref bean="merchantGrantByMonthTrigger" />
				<ref bean="statCourierAttendanceTrigger"></ref>
				<ref bean="suspendCourierAccountTrigger"></ref>
				<ref bean="cleanCourierIdRedisCacheTrigger"></ref>
				<ref bean="merchantSourceTrigger"></ref>
				<ref bean="monitorAgentIncomeTrigger"></ref>
				<ref bean="statisticsAgentDaylyIncomeTrigger"></ref>
			</list>
		</property>
	</bean>
	
	<!-- 重置订单排号：每天0:00 -->
	<bean id="resetOrderNumJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.ResetOrderNumJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="resetOrderNumTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="resetOrderNumJob" />
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>
	
	<!-- 初始化库存：每天0:00 -->
	<bean id="initRepertoryJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.InitRepertoryJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="initRepertoryTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="initRepertoryJob" />
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>
	
	<!-- 商家结算：每天0:00 -->
	<bean id="settlementJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.SettlementJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="settlementTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="settlementJob" />
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>
	
	<!-- 自动完成订单：每天1:00 -->
	<bean id="completeOrderJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.CompleteOrderJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="completeOrderTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="completeOrderJob" />
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
	
	<!-- 生成昨天快递员日提成记录,订单统计表：每天2:00 -->
	<bean id="genCourierDeductLogJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.GenCourierDeductLogJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="genCourierDeductLogTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="genCourierDeductLogJob" />
		<property name="cronExpression">
			<value>0 0 2 * * ?</value>
		</property>
	</bean>
	
	<!-- 生成昨天商家订单统计，评论统计：每天2:00 -->
	<bean id="statisticsMerchantDaylyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.StatisticsMerchantDaylyJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="statisticsMerchantDaylyTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="statisticsMerchantDaylyJob" />
		<property name="cronExpression">
			<value>0 0 2 * * ?</value>
		</property>
	</bean>
	
	<!-- 生成昨天商家订单金额、预收入统计：每天2:30 -->
	<bean id="merchantSettlementDalyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MerchantSettlementDalyJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="merchantSettlementDalyTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="merchantSettlementDalyJob" />
		<property name="cronExpression">
			<value>0 30 2 * * ?</value>
		</property>
	</bean>
	
	<!-- 按月统计快递员组长的子网点提成：每个月1号2:35 -->
	<bean id="genCourierLeaderDeductJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.GenCourierLeaderDeductJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="genCourierLeaderDeductTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="genCourierLeaderDeductJob" />
		<property name="cronExpression">
			<value>0 35 2 1 * ?</value>
		</property>
	</bean>
	
	<!-- 商家和快递员每天返点奖励补贴计算 -->
	<bean id="statisticsRebateByEverydayJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.StatisticsRebateByEverydayJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="statisticsRebateByEverydayTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="statisticsRebateByEverydayJob"></property>
		<property name="cronExpression">
			<value>0 30 2 * * ?</value>
		</property> 
	</bean>	
	
	<!-- 商家返点奖励补贴发放：每个月1号统计上个月16号-月末的扫码订单，每个月16号统计当月1-15号的扫码订单-->
	<bean id="merchantGrantByMonthJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MerchantGrantByMonthJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="merchantGrantByMonthTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="merchantGrantByMonthJob"></property>
		<property name="cronExpression">
			<value>0 45 2 1,16 * ?</value>
		</property> 
	</bean>	
	
	<!-- 物流人员奖励发放：每个月十号统计上个月整个月的扫码订单-->
	<bean id="courierGrantByMonthJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.CourierGrantByMonthJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="courierGrantByMonthTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="courierGrantByMonthJob"></property>
		<property name="cronExpression">
			<value>0 45 2 10 * ?</value>
		</property> 
	</bean>
	
	<!-- 删除七天以前的操作日志：每周日3:00 -->
	<bean id="clearOperLogJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.ClearOperLogJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="clearOperLogTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="clearOperLogJob" />
		<property name="cronExpression">
			<value>0 0 3 ? * SUN</value>
		</property>
	</bean>
	
	<!-- 重新获取微信公众号ACCESS_TOKEN：每隔1个小时 -->
	<bean id="refreshAccessTokenJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.RefreshAccessTokenJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="refreshAccessTokenTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="refreshAccessTokenJob" />
		<property name="cronExpression">
			<value>0 0 0/1 * * ?</value>
		</property>
	</bean>
	
	<!-- 定期监控可抢订单，超过3分钟还未接单，则重新推送：每隔3分钟 -->
	<bean id="monitorPushedOrderJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MonitorPushedOrderJob" />
		<property name="durability" value="true" />
	</bean>
	<bean id="monitorPushedOrderTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="monitorPushedOrderJob" />
		<property name="cronExpression">
			<value>0 0/3 * * * ?</value>
		</property>
	</bean>
	
	<!-- 监听5秒自动退单    每隔5秒自动退单  cyh-->
	<bean id="monitorRefundOrderJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MonitorRefundOrderJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="monitorRefundOrderTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="monitorRefundOrderJob"></property>
		<property name="cronExpression">
			<value>30 * * * * ?</value> 
		</property> 
	</bean>
	
	<!-- 统计快递员每天的考勤情况（打卡上班、下班及工作时长） -->
	<bean id="statCourierAttendanceJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.StatCourierAttendanceJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="statCourierAttendanceTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="statCourierAttendanceJob" />
		<property name="cronExpression">
			<value>0 15 1 * * ?</value>
		</property>
	</bean>
	
	<!-- 定时对快递员不打卡不接单进行封号 -->
	<bean id="suspendCourierAccountJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.SuspendCourierAccountJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="suspendCourierAccountTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="suspendCourierAccountJob" />
		<property name="cronExpression">
			<value>0 15 2 * * ?</value>
		</property>
	</bean>
	
	<!-- 清除过期（长时间没有上传地理位置）缓存在redis中快递员ID -->
	<bean id="cleanCourierIdRedisCacheJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.CleanCourierIdRedisCacheJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="cleanCourierIdRedisCacheTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="cleanCourierIdRedisCacheJob" />
		<property name="cronExpression">
			<value>0 15 0/1 * * ?</value>
		</property>
	</bean>

	
	<!-- 定时任务对缓存商家ID与商家来源 -->
	<bean id="merchantSourceJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MerchantSourceJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="merchantSourceTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="merchantSourceJob" />
		<property name="cronExpression">
			<value>0 0/4 * * * ?</value>
		</property>
	</bean>
	
	<!-- 定时任务对代理商扣点返点及商家预收入结算 -->
	<bean id="monitorAgentIncomeJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.MonitorAgentIncomeJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="monitorAgentIncomeTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="monitorAgentIncomeJob" />
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
	
	<!-- 	定时任务对代理商扣点返点及商家预收入结算 -->
	<bean id="statisticsAgentDaylyIncomeJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.job.StatisticsAgentDaylyIncomeJob"></property>
		<property name="durability" value="true" />
	</bean>
	<bean id="statisticsAgentDaylyIncomeTrigger" class="com.util.quratz.PersistableCronTriggerFactoryBean">
		<property name="jobDetail" ref="statisticsAgentDaylyIncomeJob" />
		<property name="cronExpression">
			<value>0 30 1 * * ?</value>
		</property>
	</bean>
</beans>