<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="com.dianba.pos"/>
    <mvc:annotation-driven/>

    <!-- 异常处理类 -->
    <!--<bean id="exceptionHandler"-->
          <!--class="org.jeecgframework.core.common.exception.MyExceptionHandler" />-->
    <!--&lt;!&ndash; 系统错误转发配置[并记录错误日志] &ndash;&gt;-->
    <!--<bean-->
            <!--class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--<property name="defaultErrorView" value="500"></property>   &lt;!&ndash; 默认为500，系统错误(error.jsp) &ndash;&gt;-->
        <!--<property name="defaultStatusCode" value="404"></property>-->
        <!--<property name="statusCodes">&lt;!&ndash; 配置多个statusCode &ndash;&gt;-->
            <!--<props>-->
                <!--<prop key="error">500</prop>  &lt;!&ndash; error.jsp &ndash;&gt;-->
                <!--<prop key="error1">404</prop>    &lt;!&ndash; error1.jsp &ndash;&gt;-->
            <!--</props>-->
        <!--</property>-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--&lt;!&ndash; 这里你可以根据需要定义N多个错误异常转发 &ndash;&gt;-->
                <!--<prop key="java.sql.SQLException">dbError</prop> &lt;!&ndash; 数据库错误(dbError.jsp) &ndash;&gt;-->
                <!--<prop key="org.springframework.web.bind.ServletRequestBindingException">bizError</prop> &lt;!&ndash; 参数绑定错误(如：必须参数没传递)(bizError.jsp) &ndash;&gt;-->
                <!--<prop key="java.lang.IllegalArgumentException">bizError</prop>  &lt;!&ndash; 参数错误(bizError.jsp) &ndash;&gt;-->
                <!--<prop key="org.springframework.validation.BindException">bizError</prop>  &lt;!&ndash; 参数类型有误(bizError.jsp) &ndash;&gt;-->
                <!--<prop key="java.lang.Exception">unknowError</prop>  &lt;!&ndash; 其他错误为'未定义错误'(unknowError.jsp) &ndash;&gt;-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 拦截器 &ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<bean class="org.jeecgframework.core.interceptors.EncodingInterceptor" />-->
        <!--</mvc:interceptor>-->

        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/web/**" />-->
            <!--<bean class="org.jeecgframework.core.interceptors.AuthInterceptor">-->
                <!--<property name="excludeUrls">-->
                    <!--<list>-->
                        <!--<value>loginController.do?goPwdInit</value>-->
                        <!--<value>loginController.do?pwdInit</value>-->
                        <!--<value>loginController.do?login</value>-->
                        <!--<value>loginController.do?checkuser</value>-->
                        <!--<value>controller.do?login</value>-->
                        <!--<value>controller.do?execute</value>-->
                        <!--<value>takeOutController.do?waimai</value>-->
                        <!--<value>takeOutController.do?tangshi</value>-->
                        <!--<value>takeOutController.do?shoppingcar</value>-->
                        <!--<value>takeOutController.do?getChooseGoods</value>-->
                        <!--<value>takeOutController.do?placeOrder</value>-->
                        <!--<value>takeOutController.do?payOrder</value>-->
                        <!--<value>takeOutController.do?orderList</value>-->
                        <!--<value>takeOutController.do?payPage</value>-->
                        <!--<value>ci/menuController.do?getMenuList</value>-->
                        <!--<value>takeOutController.do?payresult</value>-->
                        <!--<value>takeOutController.do?merchantList</value>-->
                        <!--<value>takeOutController.do?getCode</value>-->
                        <!--<value>takeOutController.do?getPayInfo</value>-->
                        <!--<value>weChatController.do?getPayInfo</value>-->
                        <!--<value>ci/smsController.do?sendSms</value>-->
                        <!--<value>ci/validateCodeController.do?validateCode</value>-->
                        <!--<value>takeOutController.do?checkMerchantState</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->

        <!--&lt;!&ndash; 接口登录拦截器 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/ci/**" />-->
            <!--<bean-->
                    <!--class="org.jeecgframework.core.interceptors.InterfaceLoginInterceptor">-->
                <!--<property name="excludeUrls">-->
                    <!--<list>-->
                        <!--<value>ci/controller.do?login</value>-->
                        <!--<value>ci/menuController.do?getMenuList</value>-->
                        <!--<value>ci/smsController.do?sendSms</value>-->
                        <!--<value>ci/smsController.do?sendSmsValidateCode</value>-->
                        <!--<value>ci/validateCodeController.do?validateCode</value>-->
                        <!--<value>ci/validateCodeController.do?validateCodeNew</value>-->
                        <!--<value>ci/tvLoginController.do?generateCode</value>-->
                        <!--<value>ci/tvLoginController.do?code</value>-->
                        <!--<value>ci/tvLoginController.do?login</value>-->
                        <!--<value>ci/tvLoginController.do?getTvLogin</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->

    <!--</mvc:interceptors>-->
</beans>