<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/code.css}" rel="stylesheet"/>
</head>
<body>
<p class="title">1号盒子</p>
<div class="code">
    <p class="codeTitle">只需10秒验证，即可享受一号盒子的乐趣</p>
    <div class="register">
        <ul>
            <li>
                <input type="number" placeholder="手机号" class="phone"/>
            </li>
            <li class="clear">
                <input type="number" placeholder="请输入验证码" class="codeInput"/>
                <button class="codeLabel" onclick="onCode();">点击验证码</button>
            </li>
        </ul>
    </div>
    <a href="javascript:register();" class="codeBtn">立即验证</a>
</div>

<script type="text/javascript" th:src="@{/js/zepto.min.js}"></script>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>