<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.box.mapper.BoxItemLabelMapper">

    <resultMap id="BaseResultMap" type="com.dianba.pos.box.po.BoxItemLabel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="rfid" jdbcType="VARCHAR" property="rfid"/>
        <result column="is_paid" jdbcType="INTEGER" property="isPaid"/>
        <result column="item_id" jdbcType="BIGINT" property="itemId"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="sales_price" jdbcType="BIGINT" property="salesPrice"/>
    </resultMap>

    <select id="findItemsByRFID" resultMap="BaseResultMap">
        select t.id,t.rfid,t.is_paid,t.item_id,i.item_name,i.sales_price
        from life_pos.pos_item_label t
        inner join life_pos.pos_item i on i.id=t.item_id
        where t.rfid in
        <foreach collection="rfids" item="rfid" open="(" close=")" separator=",">
            #{rfid}
        </foreach>
    </select>
</mapper>