<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.purchase.mapper.OneKeyPurchaseMapper">

    <resultMap id="OneKeyPurchaseMap" type="com.dianba.pos.purchase.pojo.OneKeyPurchase">
               <!--extends="com.dianba.pos.menu.mapper.MenuMapper.BaseResultMap">-->
        <result column="total_sale" property="totalSale"/>
        <result column="day_sale" property="daySale"/>
    </resultMap>

    <select id="queryWarnInvenstory" resultMap="OneKeyPurchaseMap">
        select t.*,ifnull(a.total_sale,0) total_sale,ifnull(a.day_sale,0) day_sale
        from menu t
        LEFT JOIN (
        select c.menu_id,c.total_sale,ceil(c.total_sale/7) day_sale from (
        select om.menu_id,sum(om.quantity) total_sale
        from `order` o
        INNER JOIN order_menu om on om.order_id=o.id
        WHERE o.merchant_id=#{merchant_id} and o.pay_state = 'pay' and o.rstate = 'normal'
        AND o.order_type != 'scan_order' AND o.create_time > UNIX_TIMESTAMP(DATE_SUB(now(),INTERVAL 7 DAY ))
        GROUP BY om.menu_id) c
        ) a on a.menu_id=t.id
        WHERE t.merchant_id = #{merchant_id} and barcode is not NULL and is_delete = 'N'
        and (a.day_sale >= t.today_repertory or t.today_repertory &lt;= t.warn_inventory)
        <!--<if test="exclude_barcode != null">-->
        <!--and barcode not in ($exclude_barcode$)-->
        <!--</if>-->
    </select>
</mapper>