<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianba.pos.purchase.mapper.OneKeyPurchaseMapper">

    <resultMap id="OneKeyPurchaseMap" type="com.dianba.pos.purchase.pojo.OneKeyPurchase">
               <!--extencom.dianba.pos.item.mapperpper.MenuMapper.BaseResultMap">-->
        <result column="total_sale" property="totalSale"/>
        <result column="day_sale" property="daySale"/>
    </resultMap>

    <select id="findWarnSaleItems" resultMap="OneKeyPurchaseMap">
        select * from (
            select pi.*,t.normal_quantity total_sale,t.normal_quantity/7 day_sale
            from (
                select b.item_template_id,sum(b.normal_quantity) normal_quantity
                from life_pos.pos_item a
                inner join life_order.order_item_snapshot b on b.item_template_id=a.item_template_id
                inner join life_order.order_entry c on c.id=b.order_id
                where c.type in(6,7,8) and b.item_template_id!=0 -- and c.payment_type=1
                and c.create_time > DATE_SUB(now(),INTERVAL 7 DAY)
                and a.passport_id=100005
                group by b.item_template_id
            ) t
            inner join life_pos.pos_item pi on pi.item_template_id=t.item_template_id
              and pi.passport_id=100005
        ) q where q.repertory &lt; q.day_sale
    </select>
</mapper>