/* 
* @Author: Marte
* @Date:   2015-11-12 14:26:43
* @Last Modified by:   Marte
* @Last Modified time: 2015-11-13 11:34:30
*/
.round{   /*---圆----*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.vertical-t{
    -webkit-transform: translateY(-70%);
       -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
         -o-transform: translateY(-70%);
            transform: translateY(-70%);
}
.third-page{
    padding:5px 15px 10px;
    background:#fff;
    font-size: 16px;
    color: #4d4d4d;
}
.third-page>p{
    padding-top:3px;
}
.third-pay{
    margin-top: 10px;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background:#fff;
    padding:9px 15px;
    font-size: 16px;
    line-height: 20px;
}
.third-pay>li>i{
   float:left;
   width:20px;
   height:20px;
   margin-right: 6px;
   
   background:url(../images/mine_recharge_wechat_icon.png) no-repeat 0 center;
   background-size: 20px auto;
}
.third-pay>li>span{
    float:right;
    width:18px;
    height:18px;
    border:1px solid #FFA525;
}
.third-pay>li>span i{
    display:block;
    width:14px;
    height:14px;
    margin:2px auto;
    background:#FFA525;
}
a.confirm-pay,a.confirm-pay:hover,a.confirm-pay:visited{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background:#FFA525;
    font-size: 18px;
    color:#fff;
    text-align: center;
    line-height: 50px;
}
/* ----支付成功---- */
.pay-success,.pay-error{
    position:fixed;
    top:0;
    left:0;
    z-index: 199;
    width:100%;
    height:100%;
    display:none;
}
.pay-shadow{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
}
.pay-content{
    position:absolute;
    top:50%;
    left:10%;
    width:80%;
    z-index: 9;
    text-align: center;
}
.pay-close{
    display:block;
    height:60px;
    background:url(../images/shop_menu_circumstance_icon_close.png) no-repeat right center;
    background-size: 28px auto;
}
.pay-detail{
    margin:0 15px;
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.pay-detail>p{
    margin:0 20px;
    border-bottom: 1px solid #e6e6e6;
    padding:25px;
    font-size: 24px;
    color:#ffa525;
}
.pay-error .pay-detail>p{
    color:#fc3f2d;
}
.pay-detail>a{
    display:block;
    color:#4c4c4c;
    padding:22px;
}
