<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
</head>
<script th:inline="javascript">
    var passportId = [[${passportId}]];
    var ua = navigator.userAgent.toLowerCase();
    if (ua.match("micromessenger")) {
        //微信浏览器
        window.location.href = [[${url}]];
    } else if (ua.match("alipayclient")) {
        window.location.href = "/pos/" + [[${pay_url}]] + passportId;
    }
</script>
<body>
ERROR! 请选择使用支付宝或者微信扫码！!
</body>
</html>